.detailq {
    width: 1050px;
    margin: 0 auto;
}
.goodsinfoq .goodssimgq, .goodsinfoq .goodsbimgq, .goodsinfoq .infoq {
    display: inline-block;
}
.goodsinfoq {
    margin-top: 30px;
    padding-bottom: 40px;
    font-size: 0;
}
.goodsinfoq .goodssimgq {
    width: 56px;
    height: 56px;
    display: inline-block;
    margin-right: 10px;
    font-size: 0;
    vertical-align: top;
    overflow: hidden;
}
.goodssimgq img {
    height: 100%;
    width: 100%;
}
.goodsinfoq .goodsbimgq {
    position: relative;
    width: 320px;
    height: 320px;
    margin-right: 20px;
    background: #f4f4f4;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    line-height: 320px;
}
.goodsbimgq .img {
    height: 100%;
    width: 100%;
}
.goodsinfoq .infoq {
    width: 580px;
    height: 320px;
    vertical-align: top;
}
.goodsinfoq .infoq .goodsnameq {
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 30px;
}
.goodsinfoq .infoq .descriptionq {
    margin-top: 12px;
    font-size: 15px;
    line-height: 27px;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.goodsinfoq .sellinfoq {
    width: 524px;
    margin-top: 30px;
}
.goodsinfoq .priceq {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    line-height: 24px;
    color: #FF4C44;
}
.goodsinfoq .outerq {
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
}
.outerq span {
    margin-right: 30px;
}
.buymodq {
    margin-top: 30px;
}
.relativeq {
    position: relative;
}
.buynumq {
    display: inline-block;
    /* float: left; */
    border: 1px solid #E5E3DF;
    border-radius: 4px;
    overflow: hidden;
}
.jianq , .jiaq{
    display: inline-block;
    width: 37px;
    height: 39px;
    text-align: center;
    line-height: 32px;
    vertical-align: top;
    font-size: 15px;
    background: #f8f8f8;
    color: #FFB31A;
 }

 .buyNumq{
    display: inline-block;
    width: 60px;
    height: 37px;
    line-height: 34px;
    vertical-align: top;
    font-size: 15px;
    border: 1px solid #E5E3DF;
    /* border-right: 1px solid #E5E3DF; */
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    /* -webkit-writing-mode: horizontal-tb !important; */
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
 }
 .buyq:hover ,.jianq:hover,.jiaq:hover{
    cursor: pointer;
 }
 .buyq {
    display: inline-block;
    width: 80px;
    border-radius: 4px;
    background: #FFB31A;
    color: #fff;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    height: 39px;
    margin-left: 30px;
}
.goodsimgq {
    padding: 30px 0 40px;
    font-size: 0;
    text-align: center;
}
.goodsimgq h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    /* border-top: 1px solid #e5e3df; */
}
.goodsimgq img {
    width: 600px;
    vertical-align: initial;
}