.personalNote {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 1000px;
    /* margin-bottom: 30px; */
    padding-bottom: 40px;
    /* min-height: 500px!important; */
}

.perNote1 {
    width: 700px;
    height: 150px;
    border: 1px solid #FFAF00;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.perNote1 .perNoteLeft {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
}

.perNote1 .perNoteLeft img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 5px;
}

.perNoteLeft .perLeftIntr span {
    font-weight: 600;
    font-size: 18px;
}

.perNote1 .perNoteRight {
    width: 150px;
    height: 100px;
    line-height: 50px;
    text-align: center;
}

.perNoteRight .perR1 {
    cursor: pointer;
}

.perNoteRight .perR2 {
    cursor: pointer;
}