*{
    margin: 0;
    padding: 0;
}
.reAndlo{
    width: 100vw;
    height: 100vh;
}
.topcontent{
    width: 940px;
    height: 10%;
    margin: 0 auto;
}
.content{
width: 100%;
height: 90%;
background-color: #F8F8F7;
}
.buttomcontent{
    width: 940px;
    height: 100px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b553f;
}
.buttomcontent p:nth-of-type(2){
    color: #999;
}
.topcontent img{
    width: 160px;
    height: 44px;
margin-top: 18px;
}
.middelcontent{
width: 940px;
height: 500px;
margin: 0 auto;
display: flex;
}
.middelcontent .leftimg{
    width: 538px;
    height: 362px;
    margin-top: 50px;
}
/* 登陆与注册 */
.bigbox{
    width: 400px;
    height: 480px;
    box-shadow: 1px 1px 4px #eee,-1px -1px 4px #eee;
    margin: 10px auto;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: white;
}
.selectTop ul{
display: flex;
height: 57px;
color: rgb(102, 102, 102);
}
.selectTop ul li{
    list-style: none;
    font-size: 16px;
    margin-right: 30px;
    position: relative; 
    line-height: 20px;
    cursor: pointer;
   
}
.selectTop .biaoji{
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fecd4a;
    position: relative;
    left: 50%;
    margin-left:-20px;
    margin-top: 15px;
}
.selectTop .selectDefault{
    font-size: 18px;
    color: black;
}
.tel_input.change::-webkit-input-placeholder{
    color: red;
}
.loginMiddel button{
    width: 312px;
    height: 40px;
    background-color: #fecd4a;
    border: 0;
    border-radius: 3px;
}
.loginMiddel{
    margin-top: 45px;
}
.xieyi{
    visibility: hidden;
    color: red;
    font-size: 12px;
    text-align: left !important;
}
.loginMiddel div{
    width: 312px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 32px;
}
.loginMiddel input{
    outline: none;
    border: 0;
}
.tel_input{
    width: 260px;
}
.loginMiddel p{
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}
.loginBottom{
    display: flex;
    font-size: 12px;
    height: 80px;
    align-items: center;
    margin-top: 30px;
    border-top: .5px solid rgb(240, 240, 240);
}
.loginBottom p{
    margin-right: 20px;
   
}
.loginBottom img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
