.personBox{
    width: 1050px;
    height: 900px;
    margin: 0 auto;
}
.personBox h2{
    width: 90px;
    text-align: center;
    border-bottom: 2px solid black;
    margin-top: 10px;
}
.perSBox{
    width: 800px;
    height: 100%;
    margin: 0 auto;
}
.personBox p{
    width: 100%;
    margin-top: 30px;
}
p>span{
    margin-right: 20px;
}
.Pname input{
    width: 433px;
    height: 38px;
    border: 1px solid #ccc;
    outline: none;
border-radius: 3px;
}
input[type="radio"]{
    margin-right: 10px;
}
input[type="radio"]:nth-of-type(2){
    margin-left: 20px;
}
.imgbox{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #eee;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbox img{
    width: 90px;
    height: 90px;
}
.perSBox .upimg{
    width: 130px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #FFAF00;
    background-color: transparent;
    color: #FFAF00;
    margin-top: 20px;
    text-align: center;
    line-height: 36px;
}
select{
    width: 180px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
border-radius: 3px;
}
textarea{
    width: 433px;
    height: 200px;
    border: 1px solid #ccc;
    outline: none;
border-radius: 3px;
}
.submit{
    width: 130px;
    height: 40px;
    background-color: #FFAF00;
    color: white;
    border-radius: 4px;
    width: 200px;
    border: none;
    margin-top: 20px;
}
.yulanbox{
    width: 130px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #FFAF00;
    background-color: transparent;
    color: #FFAF00;
    margin-top: 20px;
    text-align: center;
    line-height: 36px;
    position: relative;
    /* overflow: hidden; */
}
.yulan{
    width: 130px;
    height: 36px;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    top: 0;
   opacity: 0;
   cursor: pointer;
}

