.noteDetailsW {
    width: 1100px;
    margin: 60px auto;
}

.noteDeTop {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
}

/* 上左 */
.noteDeTop .noteTopLeft {
    width: 65%;
    height: 100%;
}

.noteTopLeft .noteTopImgs {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noteTopLeft .carouselImg {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.noteTopImgs .topImg {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* 上右 */
.noteDeTop .noteTopRight {
    width: 31%;
    height: 100%;
}

.noteTopRight h3 {
    font-weight: 600;
    margin: 10px 0;
}

.noteTopRight .noteAbout {
    height: 90px;
    margin: 20px 0;
    display: flex;
} 

.noteAbout img {
    width: 90px;
    height: 90px;
    margin-right: 8px;
    border-radius: 20px;
}

.noteAbout img:hover {
    opacity: 0.7;
}

.noteAbout h3 {
    margin-bottom: 20px;
}

.noteAbout .noteAboutHeart {
    cursor: pointer;
    font-size: 18px;
}

.noteAbout span {
    margin-left: 3px;
    font-size: 16px;
}


/* 中 */
.noteDeMiddle {
    margin: 30px 0;
}

.noteMiddle1 {
    display: flex;
    justify-content: space-between;
}

.noteMiddle1 .noteMiddle1Left {
    height: 60px;
    display: flex;
    align-items: center;
}

.noteMiddle1Left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.noteMiddle1Left div {
    margin-left: 150px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
}

.noteMiddle1 .noteMiddle1Right {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.noteMiddle1Right div {
    margin-left: 15px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid orange;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: orange;
}

.noteMiddle1Right div span {
    margin-left: 4px;
}

.noteMiddle1Right div:nth-of-type(2) {
    background-color: orange;
    color: #fff;
}

.noteMiddle2 {
    width: 600px;
    min-height: 120px;
    letter-spacing: 2px;
}

