.manage_usercontent {
    background-color: #fff;
    min-height: 540px;
    >.manage_serch{
        height:50px;
        text-align: center;
        position: relative;
        input{
            width: 200px;
            height: 40px;
            margin-top: 5px;
        }
        button{
            margin-left: 20px;
        }
        .manage_addUser{
            width: 400px;
            min-height: 150px;
            display: none;
            background-color: lightseagreen;
            position: absolute;
            top:50px;
            left: 355px;
            overflow: hidden;
            >ul{
                >li{
                    button{
                        margin-top: 10px;
                        height: 30px;
                        line-height: 30px;
                        width: 60px;
                        border-radius: 12px; 
                    }
                }
            }
        }
    }

    >table {
        width: 100%;
        height: 90%;
        border: 1px solid black;
        text-align: center;
        >thead {
            height: 10%;
            >.title {
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                background-color: lightblue;
                td{ 
                    width: 20%;
                    border: 1px solid black;
                }
            }
        }
        >tbody {
            height: 80%;
            > tr {
                height: 20%;
                > td {
                    width: 20%;
                    border: 1px solid black;
                    //white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    >button {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        height: 30px;
                        line-height: 30px;
                        width: 60px;
                        border-radius: 12px;
                    }
                }
            }
        }
        >tfoot{
            height: 10%;
            width: 100%;
            tr{
                td{
                    span{
                        display: inline-block;
                        width: 40px;
                        height: 100%;
                    }
                    button{
                        height: 33px;
                        width: 60px;
                    }
                }
            }
        }

    }


}
