.header {
  padding: 0;
  background-color: #1d232b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.title {
  display: flex;
}

.ant-menu .ant-menu-item {
  margin-top: 0;
}

.header .logo {
  color: #fff;
  font-size: large;
  margin-top: 0;
  margin-right: 0;
  width: 176px;
}

.trigger {
  color: #fff;
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  padding-left: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.menuItem .ant-menu-title-content {
  display: none;
}

.site-layout-background {
  background: #f0f2f5;
}

.header {
  width: 100%;
}

.menuArrow .ant-menu-submenu-arrow {
  display: none;
}
.menuPadding .ant-menu-submenu-title {
  padding-left: 18px !important;
}
.loginStatus {
  color: white;
  cursor: pointer;
  position: relative;
}
.exit {
  display: none;
  position: absolute;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: black;
  background-color: #fff;
  bottom: -26px;
  left: -12px;
  z-index: 10;
  border-radius: 2px;
}
.triangle{
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  z-index: 10;
  left: 24px;
  top: 35px;
}
.loginStatus:hover .exit {
  display: block;
}
.exit span:hover{
  color:#1890FF;
}
.loginStatus:hover .triangle {
  display: block;
}